<div class="tab-pane mt-3" id="nav-apps" role="tabpanel" aria-labelledby="nav-apps-tab">
  <div class="alert alert-warning show" role="alert">
    <strong><i class="bi bi-shield-shaded"></i>&nbsp;&nbsp;Alerta de permissão - Funcionalidade: Aplicativos</strong><small>: <i class="bi bi-lock-fill"></i>
      [<strong>apps</strong>]</small>
  </div>
  <div class="container-alert alert-apps"></div>
  <div class="container-apps">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#template-app" aria-controls="template-app">Bootstrap 5</button>
  </div>
</div>