<nav class="nav fixed-top p-2 bg-success shadow-sm" id="nav-dock-top">
    <div class="container-fluid">
        <div class="btn-group dropdown">
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="assets/images/escola-pro-br.svg" width="140rem">
            </button>
            <ul class="dropdown-menu border-sucess shadow-sm px-2 mt-3">
                <li style="height: 4.0rem !important;" class="mb-1 btn btn-outline-danger">
                    <div id="nav
                    
                    -apps-tab" data-bs-toggle="tab" data-bs-target="#nav-apps" aria-controls="nav-apps"
                        aria-selected="false"><span class="h1"><i class="bi bi-heart-fill"></i></span>
                    </div>
                </li>
                <li style="height: 4.0rem !important;" class="mb-1 btn btn-outline-danger">
                    <div id="nav-tools-tab" data-bs-toggle="tab" data-bs-target="#nav-tools" aria-controls="nav-tools"
                        aria-selected="false">
                        <img src="assets/images/bsql.me.svg" height="38rem">
                        </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="nav fixed-bottom bg-transoparent mx-3 py-3">
    <div class="container-fluid">
        <div class="form-check form-switch text-warning" id="icon-checkbox-show-all-warning-alerts">
            <label class="form-check-label" for="checkbox-show-all-warning-alerts"><i
                    class="bi bi-shield-shaded"></i></label>
            <input class="form-check-input" type="checkbox" id="checkbox-show-all-warning-alerts" checked>
        </div>
        <div class="form-check form-switch text-success" id="icon-checkbox-show-all-info-alerts">
            <label class="form-check-label" for="checkbox-show-all-info-alerts"><i
                    class="bi bi-info-circle-fill"></i></label>
            <input class="form-check-input" type="checkbox" id="checkbox-show-all-info-alerts" checked>
        </div>
    </div>
    <div class="d-flex">
        <a class="btn btn-danger mt-1 mx-3" href="/framework"><i class="bi bi-arrow-clockwise"></i></a>
    </div>
</nav>