<!doctype html>
<html lang="pt-br">
<%-include ('../blocks/head') %>

    <body>

        <%-include ('../blocks/header') %>

            <main>

                <div class="container marketing">
                    <hr class="featurette-divider bg-white">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading"><i class="bi bi-code-square"></i>&nbsp;Soluções Web</h2>
                            <p class="lead">Desenvolvemos para a Internet. Sites, sistemas, aplicativos, páginas etc.
                                Somos uma agência completa. Trabalhamos com NodeJs do lado do servidor e Javascript puro
                                do lado do cliente. Isso garante velocidade e economia para
                                seu projeto assim como facilidade na implementação de novos recursos e na manuteção.
                            </p>
                            <a href="/solucoes"> <button class="btn btn-primary btn-lg"
                                    type="button">Consulte</button></a>
                        </div>
                        <div class="col-md-5">
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                width="500" height="500" src="assets/images/desenvolvimento.svg" role="img"
                                aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                                focusable="false">

                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7 order-md-2">
                            <h2 class="featurette-heading"><i class="bi bi-cloud"></i>&nbsp;Hospedagem na Nuvem</h2>
                            <p class="lead">Oferecemos serviços de hospedagem na nuvem com alta disponibilidade e
                                escalabilidade. Cuidamos de tudo para que você dedique seu tempo exclusivamente com o
                                seu negócio. Nossa solução abrange desde sites estáticos e simples,
                                para quem está começando, até grandes demandas. Utilizamos o MS SQL Server da Microsoft
                                como gerenciador de banco de dados.</p>
                            <a href="/hospedagem"><button class="btn btn-primary btn-lg">Planos</button></a>
                        </div>
                        <div class="col-md-5 order-md-1">
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                width="500" height="500" src="assets/images/hospedagem.svg" role="img"
                                aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                                focusable="false">


                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading"><i class="bi bi-diagram-3"></i>&nbsp;Gestão de Projetos
                            </h2>
                            <p class="lead">Somos especialistas gestão de projetos e implantações, tais como Ensino à
                                Distância, Serviços de Recebimento e Cobrança, Assinatura Eletrônica de Contratos,
                                Pesquisas - captação e tabulação, Sistemas Acadêmicos, entre outros.
                                Conte conosco.</p>
                            <button class="btn btn-primary btn-lg">Honorários</button>
                        </div>
                        <div class="col-md-5">
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                width="500" height="500" src="assets/images/projetos.svg" role="img"
                                aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                                focusable="false">


                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7 order-md-2">
                            <h2 class="featurette-heading"><i class="bi bi-laptop"></i>&nbsp;Curso Particular</h2>
                            <p class="lead">O mercado de tecnologia cresceu e a oferta de profissionais capacidados não
                                acompanhou essa demanda. Pensando nisso, montamos um curso particular, semi-presencial,
                                para grupos de até quatro alunos. Nele, passamos nossa experiência
                                e capacitamos os estudantes a desenvolver sistemas e aplicativos web.</p>
                            <button class="btn btn-primary btn-lg">Processo Seletivo</button>
                        </div>
                        <div class="col-md-5 order-md-1">
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                width="500" height="500" src="assets/images/curso.svg" role="img"
                                aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                                focusable="false">


                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7 order-md-2">
                            <h2 class="featurette-heading"><i class="bi bi-box"></i>&nbsp;A Arte e Software</h2>
                            <p class="lead">Sou Pedro Silva, sócio fundador. Analista de Sistemas formado no Centro
                                Tecnológico Oswaldo Cruz; especialista em Gestão de Projetos pelo Centro Paula Souza -
                                FATEC-SP. Trabalho com desenvolvimento de sistemas web desde a década
                                de 90. Vivenciei a disruptura provocada pela rede mundial nas relações pessoais e
                                comerciais. Nos últimos 20 anos trabalho com educação. Fui executivo do Grupo Oswaldo
                                Cruz de ensino e venho pesquisando e desenvolvendo
                                novas metodologias de ensino na área de programação de computadores.</p>
                            <button class="btn btn-primary btn-lg">Contato</button>
                        </div>
                        <div class="col-md-5 order-md-1">
                            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
                                width="500" height="500" src="assets/images/quem-somos.png" role="img"
                                aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice"
                                focusable="false">


                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <!-- /END THE FEATURETTES -->

                </div>
                <!-- /.container -->

                <div class="container">
                    <img class="img-responsive" src="assets/images/stack.png" width="100%"><br>
                </div>


                <hr class="featurette-divider">

                <!-- FOOTER -->
                <footer class="container">
                    <p class="float-end"><a href="#"><i class="bi bi-arrow-up-circle-fill h4"></i></a></p>
                    <p class="text-secondary"><small>&copy; 2006-2022&nbsp;<img src="assets/images/cubo.svg" width="20"
                                height="20">&nbsp;<b>Arte e Software Tecnologia</b>
                            <br>Rua Edvard Carmilo, 1283 - Basement Flat - Butantã = 05528-000 - São Paulo
                            <br><i class="bi bi-phone text-primary"></i>&nbsp;11 99492-3850&nbsp;&nbsp;<i
                                class="bi bi-whatsapp text-primary"></i>&nbsp;11 99841-7175</small></p>

                </footer>
            </main>

    </body>
    <%-include ('../blocks/vendor') %>

</html>