<!doctype html>
<html lang="pt-br">
<%-include ('../blocks/head') %>

  <body>

    <main>

      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/comprar" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img src="assets/images/brand/cotaaco-logo.svg" width="200">
          </a>

          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link">Meus Produtos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Fazer Cotação</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Cotações Recebidas</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Cotações Aprovadas</a></li>
          </ul>
        </header>
      </div>
      <div class="container">
        <h4 class="text-primary">Área do comprador</h4>
      </div>
      <div class="container" id="workarea" style="display:none">

      </div>

    </main>

  </body>

  <%-include ('../blocks/vendor.ejs') %>

</html>