<!doctype html>
<html lang="pt-br">
<%-include ('../blocks/head') %>
    <body>
        <main>
            Arte & Software
        </main>
    </body>
    <%-include ('../blocks/vendor.ejs') %>
</html>