<!doctype html>
<html lang="en">
<%-include ('../blocks/head') %>

  <body>
    <main>

      <div class="px-4 py-5 text-center">
        <img class="d-block mx-auto mb-5" src="assets/images/brand/logo-cotaaco.svg"" alt="" width=" 360">
        <h1 class="display-5 fw-bold">Faça bons negócios</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">A CotaAço é a primeira plataforma de negócios de aço no Brasil. Tudo num único
            lugar. Compradores fazem cotações, comparam preços e condições.
            Fornecedores vendem para diversos compradores. Simples e prático. Cadastre sua empresa agora mesmo e nunca
            mais
            perca a oportunidade de fazer um bom negócio. Chega de enviar vários e-mails e se perder num mar de
            conversas por WhatsApp.
          </p>
          <p>
          <p>
          <h4>Bobinas, Sliters, Chapas, Blanks e Tubos</h4>
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-2 ">
            <button type="button" class="btn btn-warning btn-lg px-4" data-bs-toggle="modal"
              data-bs-target="#modalLogin">Já tem
              cadastro? Acesse o sistema</button>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-2">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" data-bs-toggle="modal"
              data-bs-target="#modalCadastro">Faça uma cotação</button>
            <button type="button" class="btn btn-success btn-lg px-4" data-bs-toggle="modal"
              data-bs-target="#modalCadastro">Seja um Fornecedor</button>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3">
            <h5 class="text-secondary">Fornecedores: <a href="#" data-bs-toggle="modal"
                data-bs-target="#modalCadastro">cadastre
                seus produtos</a> e seja um assinante vip.</h5>
            </p>
          </div>
        </div>
      </div>

      <footer>
        <div class="d-flex p-2 fixed-bottom text-secondary border-top">
          <small>
            Cota Aço - Plataforma de compra e venda de aço<br>
            E-mail contato@cotaaco.com
          </small>
        </div>
      </footer>

      <%-include ('../blocks/modal-cadastro.ejs') %>
        <%-include ('../blocks/modal-login.ejs') %>

    </main>
  </body>
  <%-include ('../blocks/vendor.ejs') %>

</html>