<!doctype html>
<html lang="en">
<%-include ('../blocks/head') %>

  <style>
    .container {
      max-width: 1000px;
    }

    .pricing-header {
      max-width: 700px;
    }


    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <body>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check" viewBox="0 0 16 16">
        <title>Check</title>
        <path
          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
      </symbol>
    </svg>

    <div class="container py-3">
      <header>
        <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="assets/images/brand/cotaaco-logo.svg" width="150">
          </a>
          <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Faça uma Cotação</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Seja um Fornecedor</a>
            <a class="me-3 py-2 text-dark text-decoration-none" href="#">Fale Conosco</a>
            <a class="py-2 text-dark text-decoration-none" href="#">Entrar</a>
          </nav>
        </div>

        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
          <h2 class="fw-normal text-primary">Bobinas, Sliters, Chapas, Blanks e Tubos</h2>
        </div>
      </header>

      <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal"><i class="bi bi-cart"></i>&nbsp;&nbsp;Comprador</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Cotações Ilimitadas</li>
                  <li>Diversos Fornecedores</li>
                  <li>Compare Condições</li>
                  <li>Acesso Seguro</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-outline-primary">Faça uma Cotação</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal"><i class="bi bi-shop-window"></i>&nbsp;&nbsp;Fornecedor</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Diversos Compradores</li>
                  <li>Responda Online</li>
                  <li>Divulgue seus Produtos</li>
                  <li>Acesso Seguro</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Seja um Fornecedor</button>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
              <div class="card-header py-3 text-white bg-primary border-primary">
                <h4 class="my-0 fw-normal"><i class="bi bi-shop"></i>&nbsp;&nbsp;Parceiro Vip</h4>
              </div>
              <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Diversos Compradores</li>
                  <li>E-mail Marketing Profissional</li>
                  <li>Suporte por Especialista</li>
                  <li>Acesso Seguro</li>
                </ul>
                <button type="button" class="w-100 btn btn-lg btn-primary">Fale Conosco</button>
              </div>
            </div>
          </div>
        </div>

      </main>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img src="assets/images/brand/cotaaco-logo.svg" width="80">
            <small class="d-block mb-3 text-muted">&copy; 2023</small>
          </div>
          <div class="col-6 col-md">
            <h5>Sobre</h5>
            <ul class="list-unstyled text-small">
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Nosso Time</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Localização</a></li>
              <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Termo de Privacidade</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>

  </body>
  <%-include ('../blocks/vendor.ejs') %>

</html>