<!doctype html>
<html lang="pt-br">
<%-include ('../blocks/head') %>
    <body>
        <main>
            Compra e venda de AÇO
        </main>
    </body>
    <%-include ('../blocks/vendor.ejs') %>
</html>