<!doctype html>
<html lang="en">
<%-include ('../blocks/head') %>

  <body>
    <div class="container m-5"></div>
    <form class="form-group" method="post" action="/login" id="formLogin">
      <input class="form-control" type="text" id="login" name="login" required>
      <br>
      <input class="form-control" type="password" id="pw" name="pw" required>
      <br>
      <input class="btn btn-primary form-control" type="button" value="Ok" id="btnSubmit">
    </form>
    </div>
    <script>

      window.onload = () => {

        let formLogin = document.getElementById('formLogin')
          , login = document.getElementById('login')
          , pw = document.getElementById('pw')
          , btnSubmit = document.getElementById('btnSubmit')

        btnSubmit.addEventListener('click', event => {

          event.preventDefault()

          if (login.value === '' || pw.value === '') {

            alert('Informe dados de acesso')

          } else {

            axios(
              {
                method: 'post',
                url: '/login',
                data: {
                  login: login.value,
                  pw: pw.value
                }
              }
            )

              .then((response) => {

                if (response.data.token && response.data.logged) {

                  document.cookie = `token=${response.data.token}`
                  document.location.assign('/adm')

                } else {

                  if (response.data.message) {

                    alert(response.data.message)

                  } else (

                    alert('Tente novamente.')

                  )

                }

              })

              .catch((err) => {

                console.log(err)

              })
          }

        })

      }

    </script>
  </body>
  <%-include ('../blocks/vendor.ejs') %>

</html>