<!doctype html>
<html lang="en">
<%-include ('../blocks/head') %>

    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

        .form-signin .checkbox {
            font-weight: 400;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[type="Senha"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <body class="text-center">

        <main class="form-signin">
            <form action="/login">
                <img src="assets/images/brand/logo-cotaaco.svg" alt="logo Cota Aço" width="300" height="238">
                <h1 class="h5 mb-2 fw-normal">Acesso restrito</h1>

                <div class="form-floating mb-2">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">E-mail</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="password" class="form-control" id="floatingSenha" placeholder="Senha">
                    <label for="floatingSenha">Senha</label>
                </div>
                <div class="form-floating mb-2">
                    <a href="">Esqueci minha senha</a>
                </div>

                <button class="w-100 btn btn-lg btn-primary mb-2" type="button" id="btnAcessar">Acessar</button>
                <button class="w-100 btn btn-lg btn-success" type="button" id="btnCadastrar">Cadastrar</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2006–2022</p>
            </form>
        </main>
        <script>

            window.onload = () => {

                let btnAcessar = document.getElementById('btnAcessar')
                , btnCadastrar = document.getElementById('btnCadastrar')

                btnAcessar.addEventListener('click', (event) => {

                    event.preventDefault()

                    document.location.assign('/dashboard')

                })

                btnCadastrar.addEventListener('click', (event) => {

                    event.preventDefault()

                    document.location.assign('/cadastrar')

                })

            }


        </script>


    </body>

</html>