<div class="tab-pane mt-3" id="block-create" role="tabpanel" aria-labelledby="block-create-tab">
    <div class="alert alert-warning show" role="alert">
        <strong><i class="bi bi-shield-shaded"></i>&nbsp;&nbsp;Alerta de permissão - Funcionalidade: Criar bloco</strong>
        <small>: <i class="bi bi-lock-fill"></i> [<strong>block-create</strong>]</small>
    </div>
    <div class="flex-column">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0" class="form-group" tabindex="0">
            <form class="form-group" id="form-block-create">
                <block-name id="tag-block-name">
                    <div id="alert-block-name" class="alert alert-info show" role="alert">
                        <i class="bi bi-info-circle"></i>&nbsp;Bloco: <strong>único</strong> em todo o sistema. Os blocos, cuja parte de dados persistentes no sql chamamos de tabela, constituem a base da programação. Identificá-los e detalhar suas características (propriedades), com maior clareza e menor granularidade possível, representa 50% da arte de programar. Utilize até 50
                        caracteres entre letras, números e caracter especial _ (underline, útil para representar espacos e separar as palavras para tornar os nomes mais óbvios de entender)
                    </div>
                    <div class="input-field-block mt-1 mb-3">
                        <div>
                            <label for="input-text-block-name" class="label text-dark mb-1"><i
                                    class="bi bi-box"></i>&nbsp;Bloco</label>
                            <!-- #issue: pesquisar no banco bloco com mesmo nome a partir do terceiro caracter digitado -->
                            <input type="text" minlength="3" maxlength="50"
                                class="form-control mb-3 bg-transparent is-invalid" id="input-text-block-name"
                                placeholder="Informe um nome único para a bloco e tecle Enter" autocomplete="off" value="pessoa" />
                        </div>
                    </div>
                </block-name>
                <block-namespace id="tag-block-namespace">
                    <div class="alert-container" id="block-field">
                        <div id="alert-block-namespace" class="alert alert-info show" role="alert">
                            <i class="bi bi-info-circle"></i>&nbsp;Propriedades: defina o nome de cada uma das propriedades do Bloco. Por padrão, todo Bloco é criada com id_[bloco], crdate e isactive automaticamente. Sendo id_[bloco] chave primária auto-incrementável em 1.
                        </div>
                    </div>
                    <div class="input-field-block mt-1 mb-3">
                        <label for="input-textarea-block-namespace" class="label text-dark mb-1"><i class="bi bi-bookmarks"></i>&nbsp;Propriedades</label>
                        <textarea minlength="3" maxlength="500"
                            class="form-control border rounded mb-3 bg-transparent is-invalid"
                            id="input-textarea-block-namespace"
                            placeholder="Informe nomes únicos, separados por vírgulas, e tecle Enter"
                            autocomplete="off">
nome, email, celular, senha</textarea>
                    </div>
                </block-namespace>
                <block-field id="tag-block-field">
                    <div class="alert-container" id="block-field">
                        <div id="alert-block-namespace" class="alert alert-info show" role="alert">
                            <i class="bi bi-info-circle"></i>&nbsp;Configurações: defina como cada propriedade deve ser tratada no banco de dados. Utilizamos a criptografia de mão única SHA256, usada para senhas, passwords, pass, hash, ou qualquer dado que deva ser armazenado de maneira a seu proprietário ser o único conhecedor do seu real conteúdo.
                        </div>
                    </div>
                    <div class="input-field-block mt-1 mb-3">
                        <label for="input-textarea-block-namespace" class="label text-dark mb-1"><i
                                class="bi bi-ui-radios"></i>&nbsp;Configurações</label>
                        <ul class="nav nav-tabs" id="nav-" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="nav-field-settings-tab" data-bs-toggle="tab"
                                    data-bs-target="#field-settings" type="button" role="tab"
                                    aria-controls="nav-field-settings" aria-selected="true">
                                    <i class="bi bi-ui-radios"></i>
                                </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="nav-block-json-tab" data-bs-toggle="tab"
                                    data-bs-target="#block-json" type="button" role="tab"
                                    aria-controls="nav-block-json" aria-selected="false">
                                    <i class="bi bi-braces"></i>
                                </button>
                            </li>
                        </ul>
                        <div class="tab-content mb-0">
                            <div class="tab-pane show active" role="tabpanel" aria-labelledby="nav-field-settings-tab"
                                id="field-settings"></div>
                            <div class="tab-pane" role="tabpanel" aria-labelledby="nav-block-json-tab"
                                id="block-json">
                            </div>
                        </div>
                        <div class="mt-2">
                            <button class="form-control mb-2 btn btn-outline-success" id="btn-block-create"
                                disabled>Criar
                                bloco&nbsp;&nbsp;<i class="bi bi-pencil-square"></i></button>
                            <button class="form-control mb-2 btn btn-outline-dark" id="btn-block-create-clear"><i
                                    class="bi bi-pencil-square"></i>&nbsp;&nbsp;Limpar</button>
                        </div>
                    </div>
                </block-field>
            </form>
        </div>
    </div>
</div>